<section class="bg-opinions">
  <div class="row">
    <div class="col-md-9 p-0">
      <div class="tweet-image mb-5">
      </div>
      <main class="mx-auto w-80">
        <div class="card bg-white rounded-5 my-md-5">
          <div class="card-body">
            <h5 class="card-title text-uppercase c-twitter p-3 border-gray font-weight-bold"> My tweets </h5>
             <% @user_opinions.each  do |opinion| %>
            <div class="d-flex mt-4">
              <% if @user.avatar.attached? %>
                <image src="<%= (url_for(@user.avatar)) %>" class="img-fluid ms-4 rounded-circle" width="80">
              <% else %>
                <img src="<%= asset_path 'user.png' %>" class="img-fluid ms-4 rounded-circle" width="80">
              <% end %>
              <div class="d-flex flex-column flex-start ms-3 mt-2">
                <h6 class="text-dark fs-6 font-weight-bold">
                  <%= @user.username %>
                </h6>
                <p class="c-feed fs-7">
                  <%= opinion.text %>
                </p>
              </div>
            </div>
            <% end %>
         </div>
        </div>
      </main>
    </div>
    <div class="col-md-3 border-left p-0 vh-100">
      <div class="d-flex align-items-center justify-content-center mt-4">
        <% if @user.id == current_user.id %>
          <i class="fas fa-plus-circle c-letter-sidebar text-muted font-weight-bold fs-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Yo can't follow yourself"> </i>
        <% elsif !current_user.already_follow?(@user) %>
          <%= link_to follow_this_user_path(@user) do %>
           <i class="fas fa-plus-circle c-nav-items font-weight-bold fs-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="follow this user"> </i>
          <% end %>
        <% else %>
          <%= link_to unfollow_this_user_path(@user) do %>
            <i class="fas fa-minus-circle text-danger font-weight-bold fs-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="unfollow"> </i>
          <% end %>
        <% end %>
        <% if @user.avatar.attached? %>
          <image src="<%= (url_for(@user.avatar)) %>" class="img-fluid mx-4 rounded-circle" width="95">
        <% else %>
          <img src="<%= asset_path 'user.png' %>" class="img-fluid mx-4 rounded-circle" width="95">
        <% end %>
        <i class="fas fa-list-alt c-nav-items font-weight-bold fs-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="A huge list!"> </i>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center mt-md-3">
        <h6 class="text-dark fs-7 font-weight-bold"> <%= link_to @user.fullname, user_path(@user), class: 'text-decoration-none c-letter-sidebar' %> </h6>
        <p class="c-letter-sidebar fs-7"> @<%= @user.username %> </p>
      </div>
      <div class="d-flex align-items-center justify-content-center border broder-1">
        <div class="d-flex flex-column align-items-center justify-content-center me-4">
          <h6 class="text-dark fs-7 font-weight-bold"> <%= @user.opinion_count %> </h6>
          <p class="c-letter-sidebar fs-7"> Tweets </p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center py-2 px-3 border-sides ">
          <h6 class="text-dark fs-7 font-weight-bold"> <%= @user.count_followers %> </h6>
          <p class="c-letter-sidebar fs-7"> Following </p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center ms-4">
          <h6 class="text-dark fs-7 font-weight-bold"> <%= @user.count_following %> </h6>
          <p class="c-letter-sidebar fs-7"> Followers </p>
        </div>
      </div>
      <div class="border-gray border-gray-centered py-3 ps-3 mt-md-4 mt-sm-2">
        <h3 class="text-uppercase c-letter-sidebar fs-6"> Followed by </h3>
      </div>
      <% @user.followers.each do |follows| %>
        <div class="d-flex align-items-center mt-4 ms-4">
          <% if follows.avatar.attached? %>
            <image src="<%= (url_for(follows.avatar)) %>" class="img-fluid ms-4 rounded-circle" width="60">
          <% else %>
            <img src="<%= asset_path 'user.png' %>" class="img-fluid ms-4 rounded-circle" width="60">
          <% end %>
          <div class="d-flex flex-column flex-star ms-3">
            <h6 class="text-dark fs-7 font-weight-bold"> <%= link_to follows.fullname, user_path(follows.id), class: 'text-decoration-none c-letter-sidebar' %> </h6>
            <p class="c-letter-sidebar fs-7"> @<%= follows.username %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
