<div class="col-md-2 p-0 bg-opinions sidebar">
  <div class="d-flex flex-column flex-shrink-0 text-white h-100 back-sidebar">
    <div class="d-flex aling-items-center border-black back-username center-userdata pb-3">
      <%= image_tag 'squared_foto.jpg', class: 'img-fluid mt-4 ms-4 rounded', width: '100', height: '50' %>
      <p class="my-auto ms-3 c-letter-sidebar font-weight-bold" > <%= link_to current_user.fullname, user_path(current_user.id), class: 'text-decoration-none c-letter-sidebar' %> </p>
    </div>
    <div class="d-flex align-items-center justify-content-center border-dark back-username py-2 mb-4">
      <div class="flex-column d-flex text-center border-right-divisor pe-4">
        <span class="text-white"> 
          <%= current_user.count_followers %>
        </span> 
        <span class="c-letter-sidebar"> 
          Following
        </span>
      </div>
        <div class="flex-column d-flex text-center ps-4">
        <span class="text-white"> 
          <%= current_user.count_following %>
        </span> 
        <span class="c-letter-sidebar"> 
          Followers
        </span>
      </div>
    </div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item text-uppercase mb-2 link-hover p-1">
        <%= link_to home_path, class:'nav-link' do %> 
          <i class="fas fa-home me-1"></i>
          Home
        <% end %>
      </li>
      <li class="nav-item text-uppercase link-hover p-1">
        <%= link_to user_path(current_user.id), class:'nav-link' do %>
          <i class="fas fa-user me-1"></i>
          Profile
        <% end %>
      </li>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-10 p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-twitter py-3">
    <div class="container-fluid">
      <%= link_to home_path, class: 'navbar-brand' do %>
        <i class="fa fa-twitter text-white fs-1"> </i>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit profile">
            <%= link_to edit_user_path(current_user.id), class:'nav-link', style: 'color: #337ab7' do %>
              <i class="fas fa-pen fs-4"></i>
            <% end %> 
          </li>
          <div class="divisor"> </div>
          <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages">
            <%= link_to home_path, class:'nav-link', style: 'color: #337ab7' do %>
              <i class="fas fa-envelope fs-4"></i>
            <% end %> 
          </li>
          <div class="divisor"> </div>
          <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter your preferences">
            <%= link_to home_path, class:'nav-link', style: 'color: #337ab7' do %>
              <i class="fas fa-search fs-4"></i>
            <% end %> 
          </li>
          <div class="divisor"> </div>
          <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings">
            <%= link_to home_path, class:'nav-link', style: 'color: #337ab7' do %>
              <i class="fas fa-cog fs-4"></i>
            <% end %> 
          </li>
          <div class="divisor"> </div>
          <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout">
            <%= link_to logout_path, class:'nav-link', style: 'color: #337ab7', method: :delete do %>
              <i class="fas fa-sign-out-alt fs-4"></i>
            <% end %> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>
